body{
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items:center;
}
div{
   
    border-style: dashed;
    width: 100%;
    height: 100%;
    min-width: 500px;
    min-height: 500px;
    text-align: center;
    background-color:blue;
    text-align: center;
    padding: 3% 3% 3% 3%;
    color:rgb(255, 0, 8);
    border-style: solid ;
}
p{
    margin-top: 10%;
    color: white;
}
button {
	background-color: red;
	animation: anim 3s infinite;
}

@keyframes anim {
	0% {
		color: white;
		background-color: red;
		/* padding: 0; */
	}
	50% {
		color: orange;
		background-color: blue;
		/* padding: 10px; */
	}
	100% {
		color: white;
		background-color: red;
		/* padding: 0; */
	}
}
h4{
    color: yellow;
    font-size: large;
    border-color: blue;
    border-style: solid;
    border-width: 14px;
}